ul {
    list-style: none;
}
a {
    text-decoration: none;
}


/*筛选设置开始*/
.select-set {
    background-color: #FFFFFF;
    margin-top: 5px;
    border-bottom: 1px solid #ddd;
}

.select-left {
    float: left;
    font-size: 15px;
    margin-left: 15px;
    margin-top:5px ;
    font-size:16px ;
}

.select-btn {
    float: right;
    margin-top: 2px;
    margin-right: 20px;
    margin-bottom:5px ;
    padding: 5px 10px;
    background-color: #5bc0de;
    font-size: 12px;
    outline: 0;
    border: 0;
    

}
.select-btn a {
  color:#ffffff ;
  text-decoration: none;
}
.select-condition {
    background: #FFFFFF;
}

.select-condition ul {
    height: 40px;
    line-height: 40px;
    padding-left:40px;
}

.select-condition li {
    float: left;
    width: 76px;
    font-size: 14px;
    height: 40px;
}
.select-condition li a {
    padding:5px;
}
.backgroundColor {
    background-color: #5bc0de;
}
.select-condition li a:hover {
    color:#000000;
    text-decoration: none

}
.select-li {
    margin-bottom: 0;
}

.select-condition .font-stronger {
    width: 40px;
    font-size:14px ;
}

.select-all {
    color: #ffffff;
    padding: 5px;
    margin-left: 15px;
}

.select-li .mydefine {
    background-color: #5bc0de;
    width: 65px;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    color:#ffffff ;

}

.article-show-hide {
    z-index: 3;
    text-align: left;
    background-color: #e7e7e7;
}

.article-show-hide li:hover {
    background-color: #777777;
}

.article-box {
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-inner {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.article-top {
    height: 60px;
}

.article-out {
    float: left;
    height: 34px;
    margin-top: 26px;

}

.article-drop {
    background-color: #ECEDEF;
    display: block;
    height: 30px;
    width: 70px;
    margin-top: 30px;
    font-size: 10px;
    line-height: 30px;
}

.article-sort {
    float: right;
}

.article-sort ul {
    margin-bottom: 0;
    height: 30px;
}

.article-sort li {
    float: left;
    height: 20px;

}

.article-sort a {
    display: block;
    padding: 5px;
    line-height: 20px;
    margin-left:10px;
}

.article-sort a:hover {
    color: #FFFFFF;
    background-color:#5bc0de ;
    text-decoration:none;
}

.current {
    background-color: #5bc0de;
    color: #FFFFFF;
}

.article-content-title {
    height: 36px;
    line-height: 36px;
}

.article-checkbox {
    float: left;
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;

}
a {
  color: #000000;
  text-decoration: none;
}
.article-theme {
    float: left;
    display: block;
    height: 34px;
    line-height: 34px;
}

.article-warn {
    color: #f0f0f0;
    font-size: 12px;
    text-align: center;
    margin-left: 5px;
    margin-top: 7px;
    width: 50px;
    background-color: #F66A66;
    height: 30px;
    line-height: 20px;
}

.article-hot {
    color: #f40;
    float: right;

}

.article-main {
    border: 1px solid #e7e7e7;
}

.article-content {
    margin-left: 0;
    margin-right: 0;
}

.article-origin {
    background: #E9E9E9;
    padding-top: 10px;
    padding-bottom: 10px;

}

.article-page-left {
    margin-left: 150px;
    height: 40px;
    line-height: 40px;
}

.article-page-right {
    margin-right: 150px;
}

.article-page-right span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #E9E9E9;
    padding: 5px 10px;
    margin-left: 10px;
}
.article-out>.article-out-option {
    background-color:#FFFFFF;
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .select-condition ul {
        height: 40px;
        line-height: 40px;
    }

    .select-condition li {
        float: left;
        width: 60px;
        font-size: 12px;
        height: 40px;
    }
}

@media screen and (min-width: 940px) and (max-width: 1280px) {
    .select-condition ul {
        height: 40px;
        line-height: 40px;
    }

    .select-condition li {
        float: left;
        width: 60px;
        font-size: 12px;
        height: 40px;
    }
}

@media screen and (min-width: 820px) and (max-width: 940px) {
    .select-condition ul {
        height: 40px;
    }

    .select-condition li {
        float: left;
        width: 55px;
        font-size: 10px;
        height: 40px;
    }

}
/*筛选设置结束*/
.btn{border-radius: 0px;}
.dropdown-menu {
  min-width: 100px;
}
.home_yq{
	height:50px ; 
	background:#ffffff ;
	box-shadow:0 1px 1px #aaa;
}
.list{float: left;}
.home_search{float: right; margin-top:8px ; margin-right:10px ;}
.sr{height:35px ; border:1px solid #ddd; float: left;border-radius: 4px;}
.search{height:30px ; color:#ccc ; font-size:12px ;border:none; outline:0 ;}
.row {
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom:5px ;
}

.dropdown-menu {
   min-width: 0px; 
}
.tab_ul{padding-left: 40px;}
.typcn-media-fast-forward:before {
 color: #FF4500;
}
.btn-default {
  background-color: #ddd; 
  border:none;
}
.sx_list{float: left; margin-left:20px ; margin-top:20px ;}
.wz_list{float: right;margin-top:20px ; margin-right:22px ;}
.wz_list ul li{float: left; list-style-type:none ; padding-left:20px ;}
.thumbnail {
 margin-left:20px ;
 margin-right:20px ;
}
input[type=radio], input[type=checkbox] {
  margin: 3px;
}
.typcn-star-full-outline:before {
  color:#ccc ;
}
.hot{color:red ; padding-top:10px ;}
.sxx_list{float: left; }
.wzx_list{float: right;}
.wzx_list ul li{float: left; list-style-type:none ; padding-left:20px ;}
.wl_wz{line-height: 25px; color:#666 ; padding-left:5px ;}
.zd_xx{height: 30px; background-color:#ccc ; color:#666; line-height:30px ; font-size:12px ;}
.zd_wzxx{padding-left:50px ;}
.sxx_list p{padding-left:20px; color:#999 ; padding-top:8px ;}
.pagination {
  margin: 0px 0; 
  padding-right:20px ;
}
.wzx_list ul li {
  padding-left: 0px;
}
.checkbox-inline, .radio-inline {
  padding-left: 0px;
}
.btwz{font-size:16px ; color:#000000 ;}
.typcn:before {
  font-size: 2em;
}
.col-md-12{padding-left:0px ; padding-right:0px ;}
.data_count{margin-top:20px ;}
.article-top{height: 0px;}
.thumbnail{margin-left:0px ; margin-right: 0px; margin-top:20px ;}
