<div class="tcyj-box" id="tcyj">
    <form action="#" class="form-horizontal ">
        <div class="form-group clearfix">
            <label class="control-label col-md-4">状态：</label>
            <div class="col-md-8">
                <div class="btn-group" data-toggle="tcyj_zt">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="tcyj_zt" value="1" checked>开启
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="control-label col-md-4">预警时间段：</label>
            <div class="col-md-8">
                <div class="btn-group" data-toggle="tcyj_yjsjd">
                    <label class="checkbox-inline tcyj-current">
                        <input type="radio" name="tcyj_yjsjd" value="1" checked>实时
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="tcyj_yjsjd" value="2">自定义时间
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="control-label col-md-4">选择提示音：</label>
            <div class="col-md-5">

                <select class = "col-md-12" style = "display:block;height:30px;font-size:20px;">
                    <option value="text">朋友的酒.MP3</option>
                    <option value="text">小苹果.MP3</option>
                    <option value="text">春风十里.MP3</option>
                    <option value="text">老男孩.MP3</option>
                    <option value="text">最炫民族风.MP3</option>
                    <option value="text">南山南.MP3</option>
                </select>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-group clearfix ">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <a href="javascript:void(0);" class="btn btn-success">保存</a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </form>
</div>