<div class="article-top clearfix" (click)="$event.preventDefault()" style = "display:inline-block;">
    <div class="btn-group" dropdown dropdown-append-to-body style = "display:inline-block;">
        <button id="btn-append-to-body" type="button" class="btn btn-primary" dropdownToggle>
            判研为<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body" >
            <li role="menuitem"><a class="dropdown-item" href="#">舆情</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">正面</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">负面</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">相关</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">与我无关</a></li>
        </ul>
    </div>
</div>