<bread-line></bread-line>
<div class="container-fluid">
			<div class="col-md-12">
			   <div class="row">
			   	 <div class="col-md-12">
			   	 	<div class="panel-group" id="accordion">
	                  <div class="panel panel-default">
		                 <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne">
				            <div class="yq_wz">我的套餐剩余量</div>
		                </div>
		              <div id="collapseOne" class="panel-collapse collapse in">
			             <div class="panel-body" style="height: 120px">
			             	<tcxx-app></tcxx-app>
			             </div>
		             </div>
	                </div>
                  </div>
                  <div class="panel-group" id="accordion">
	                  <div class="panel panel-default">
		                 <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"  href="#collapseOne">
				            <div class="yq_wz">您订购套餐类型:试用套餐(2016-08-12-2016-09-12)</div>
		                </div>
		                <div id="collapseOne" class="panel-collapse collapse in">
			             <div class="panel-body">
                            <tclx-app></tclx-app>
			             </div>
		             </div>
	                </div>
                  </div>
                  <div class="row">
                  	<p class="row_red">提示：如需更换套餐，请致电客服400-001-101</p>
                  </div> 
			   	 </div>	
			   </div>
			</div>
			  
	   </div>