<div class="tabsa" id = "jryq_ztfbtj_table">
    <table class="table table-hover table-bordered ">
        <thead>
        <tr>
            <th class = "text-center">载体</th>
            <th class = "text-center">负面文章</th>
            <th class = "text-center">正面文章</th>
        </tr>
        </thead>
        <tbody *ngIf = "yqyj">
        <tr class = "text-center" *ngFor = "let yqyj of yqyj.content">
            <td>{{yqyj.type}}</td>
            <td >{{yqyj.negativeCount}}</td>
            <td >{{yqyj.frontCount}}</td>
        </tr>
        </tbody>
    </table>
</div>