<div class="article-top clearfix" (click)="$event.preventDefault()" style = "display: inline-block;">

    <div class="btn-group" dropdown dropdown-append-to-body style = "display: inline-block;">
        <button id="btn-append-to-body" type="button" class="btn btn-primary" dropdownToggle>
            加入日报<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body" >
            <li role="menuitem"><a class="dropdown-item" href="#">加入日报</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">加入周报</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">加入月报</a></li>
        </ul>
    </div>


</div>