<div class="panel-heading">
	<div class="yq_wz">筛选设置</div>  
</div>
<div id="collapseOne" class="panel-collapse collapse in">
		<div class="panel-body">
			<ul>
			<il>维度：</il>
			<il class="btn btn-primary">全部</il>
			<il class="tab_ul">腐败</il>
			<il class="tab_ul">群体事件</il>
			<il class="tab_ul">执法</il>
			<il class="tab_ul">交通事件</il>
			<il class="tab_ul">拆迁</il>
			<il class="tab_ul">信访</il>
			<il class="tab_ul">设稳</il>
			</ul>
			<ul>
			<il>载体：</il>
			<il class="btn btn-primary">全部</il>
			<il class="tab_ul">综合</il>
			<il class="tab_ul">新闻</il>
			<il class="tab_ul">博客</il>
			<il class="tab_ul">论坛</il>
			<il class="tab_ul">微博</il>
			<il class="tab_ul">微信</il>
			<il class="tab_ul">QQ群</il>
			<il class="tab_ul">电子报</il>
			<il class="tab_ul">视频</il>
			<il class="tab_ul">手机wap</il>
			<il class="tab_ul">其他</il>
			</ul>
			<ul>
			<il>时间：</il>
			<il class="btn btn-primary">今天</il>
			<il class="tab_ul">昨天</il>
			<il class="tab_ul">近7天</il>
			<il class="tab_ul">近30天</il>
			<il class="tab_ul"><button class="btn-info">自定义</button></il>
			</ul>
			<ul>
			<il>来源：</il>
			<il class="btn btn-primary">全部</il>
			<il class="tab_ul">境内</il>
			<il class="tab_ul">境外</il>
			</ul>
			<ul>
			<il>站点：</il>
			<il class="btn btn-primary">全部站点</il>
			<il class="tab_ul">关注站点</il>
			</ul>
		</div>
</div>