<div class="select-set clearfix ">
    <span class="select-left">筛选设置</span>
    <button class="select-btn " id="showWarnOption"><a routerLink="/yjsz" routerLinkActive="active" >预警设置</a>
    </button>
</div>
<div class="select-condition ">
    <div class="select-condition-media">
        <ul class="select-li clearfix">
            <li class="font-stronger ">载体:</li>
            <li><a  class = "select-all backgroundColor">全部</a></li>
            <li><a >综合</a></li>
            <li><a >新闻</a></li>
            <li><a >博客</a></li>
            <li><a >论坛</a></li>
            <li><a >微博</a></li>
            <li><a >微信</a></li>
            <li><a >QQ群</a></li>
            <li><a >电子报</a></li>
            <li><a >视频</a></li>
            <li><a >手机wap</a></li>
            <li><a >其他</a></li>
        </ul>
    </div>
    <div class="select-condition-time">
        <ul class="select-li clearfix">
            <li class="font-stronger">时间:</li>
            <li><a class="select-all backgroundColor">全部</a></li>
            <li><a >今天</a></li>
            <li><a >昨天</a></li>
            <li><a >近7天</a></li>
            <li><a >近30天</a></li>
            <li class="mydefine text-center"><a href="">自定义</a></li>
        </ul>
    </div>
    <div class="select-condition-method">
        <ul class="select-li clearfix">
            <li class="font-stronger">方法:</li>
            <li><a class="select-all backgroundColor">全部</a></li>
            <li><a >自动报警</a></li>
            <li><a >手动报警</a></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>