<div class = "col-sm-12" id = "jryq_ztqstfx_table">
    <table class="table table-hover table-bordered ">
        <thead>
        <tr >
            <th class = "text-center">#</th>
            <th class = "text-center">2016-08-25 01:00:00</th>
            <th class = "text-center">2016-08-25 02:00:00</th>
            <th class = "text-center">2016-08-25 03:00:00</th>
            <th class = "text-center">2016-08-25 04:00:00</th>
            <th class = "text-center">2016-08-25 05:00:00</th>
            <th class = "text-center">2016-08-25 06:00:00</th>
            <th class = "text-center">2016-08-25 07:00:00</th>
            <th class = "text-center">2016-08-25 08:00:00</th>
            <th class = "text-center">2016-08-25 09:00:00</th>
            <th class = "text-center">2016-08-25 10:00:00</th>
            <th class = "text-center">2016-08-25 11:00:00</th>
            <th class = "text-center">2016-08-25 12:00:00</th>
        </tr>
        </thead>
        <tbody *ngIf = "yqyj">
        <tr class = "text-center" *ngFor = "let yqyj of yqyj.content">
            <td>{{yqyj.type}}</td>
            <td >{{yqyj.count1}}</td>
            <td >{{yqyj.count2}}</td>
            <td >{{yqyj.count3}}</td>
            <td >{{yqyj.count4}}</td>
            <td >{{yqyj.count5}}</td>
            <td >{{yqyj.count6}}</td>
            <td >{{yqyj.count7}}</td>
            <td >{{yqyj.count8}}</td>
            <td >{{yqyj.count9}}</td>
            <td >{{yqyj.count10}}</td>
            <td >{{yqyj.count11}}</td>
            <td >{{yqyj.count12}}</td>
        </tr>
        </tbody>
    </table>
</div>