<div class="dxyj-box" id="dxyj">
    <form action="#" class="form-horizontal ">
        <div class="form-group clearfix">
            <label class="control-label col-md-4">状态：</label>
            <div class="col-md-8">
                <div class="btn-group" data-toggle="dxyj_zt">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="dxyj_zt" value="1" checked>开启
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="control-label col-md-4">预警时间段：</label>
            <div class="col-md-8">
                <div class="btn-group" data-toggle="dxyj_yjsjd">
                    <label class="checkbox-inline dxyj-current">
                        <input type="radio" name="dxyj_yjsjd" value="1" checked>实时
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="dxyj_yjsjd" value="2">自定义时间
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group clearfix ">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <a href="javascript:void(0);" class="btn btn-success">保存</a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </form>
</div>